<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="font_size.css">
    <script src="main.js"></script>
</head>

<body>
    <div class="container">
        <div class="input">
            <input type="text" id="input" maxlength="100" placeholder=" &#xf78b;　Kanaに質問しましょう">
        </div>
        <h2>Kanaへようこそ</h2>
        <br>
        ヒント：「Kana、6×8を計算して」と入力してみましょう
        <br>
        ヒント：「Kana、1時間15分のタイマーをセットして」と入力してみましょう
        <br>
        ヒント：「Kana、ディスコードについて調べて」と入力してみましょう
    </div>
    <a id="background_copyright" class="container"></a>
</div>
</body>

</html>