<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="font_size.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="container" id="main">
        <div class="input" style="position: -webkit-sticky; position: sticky; top: 16px; z-index: 3000; display:block;">
            <input type="text" id="input" maxlength="100" placeholder="&#xf78b; ここからKanaに質問できます">
        </div>
        <span style="font-size: 1.8em; font-weight: 600; margin: 0 auto; height: 2em;" id="welcome">Kanaへようこそ</span>
        <span id="reply" class="container">
            <div id="help_tile">
                試してみよう
                <br>
                <div class="help_tile">
                    <div class="container help_item">
                        Kanaと話す
                    </div>
                    <div class="container help_item">
                        5分間タイマー
                    </div>
                    <div id="tile_kaigyou"></div>
                    <div class="container help_item">
                        <span id="wikipedia_random">Kana</span>を調べる
                    </div>
                    <div class="container help_item">
                        2^6を計算
                    </div>
                </div>
            </div>
        </span>
        <div id="logout_btn" style="font-family: 'Segoe Fluent Icons';" class="container">&#xf3b1;</div>
    </div>
    <div id="login_ui" class="container">
        <span style="font-size: 1.6em; font-weight: 600; margin: 2em auto;" id="welcome">ログイン</span>
        <br>
        <span id="login_status">Kanaを利用するには、ログインが必要です。</span>
        <br>
        <div id="login_form">
            <div class="input">
                <input type="text" id="login_id" maxlength="100" placeholder="&#xe716; ユーザーID">
            </div>
            <div class="input">
                <input type="password" id="login_password" maxlength="100" placeholder="&#xe72e; パスワード">
            </div>
            <div id="login_btn" class="container">ログイン</div>
        </div>
    </div>
    <div id="loading">
        <div class="loading_anime" style="border-radius: 62% 38% 61% 39% / 66% 54% 46% 34%; animation-duration: 2s;">
        </div>
        <div class="loading_anime" style="border-radius: 32% 68% 29% 71% / 66% 79% 21% 34%; animation-duration: 3s;">
        </div>
        <div class="loading_anime" style="border-radius: 84% 16% 44% 56% / 22% 35% 65% 78%; animation-duration: 4s;">
        </div>
        <div class="loading_anime" style="border-radius: 35% 65% 29% 71% / 39% 35% 65% 61%; animation-duration: 5s;">
        </div>
    </div>
    <a id="background_copyright" class="container"></a>
    </div>
    <script src="main.js"></script>
</body>

</html>